#-----[Bridgeipelago Config]-----
#
#---[Discord Config]---
DiscordToken=
DiscordBroadcastChannel=
DiscordAlertUserID=
DiscordDebugChannel=
#
#---[Archipelago Config]---
ArchipelagoServer=wss://archipelago.gg
ArchipelagoPort=12345
ArchipelagoBotSlot=Bridgeipelago
ArchipelagoTrackerURL=https://Archipelago.gg/tracker/<customURLhere>
ArchipelagoServerURL=https://archipelago.gg/room/<customURLhere>
#
#---[Item Filter Config]---
BotItemSpoilTraps=true
BotItemFilterLevel=0
#
#---[Relay Config]---
ChatMessages=true
ServerChatMessages=true
GoalMessages=true
ReleaseMessages=true
CollectMessages=true
CountdownMessages=true
DeathlinkMessages=true
#
#---[Meta Config]---
FlavorDeathlink=false
DeathlinkLottery=false
#
#---[Advanced Config]---
LoggingDirectory=/logs/
PlayerRegistrationDirectory=/RegistrationData/
PlayerItemQueueDirectory=/ItemQueue/
ArchipelagoDataDirectory=/ArchData/
QueueOverclock=1
JoinMessage='<custom join message here>'
DebugMode=false
DiscordJoinOnly=false
SelfHostNoWeb=false